/* general rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/* sfondo */
#band {
    height: 15vh;
    width: 100%;
    background-color: #029588;
}
main {
    height: 100vh;
    background-color: #dcdbd2;
}

/* chat */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

#container {
    position: absolute;
    top: 30px;
    left: 10%;
    width: 80%;
    /* debug */
    height: 650px;
}

/* elenco laterale */
#chat {
    width: 30%;
    height: 100%;
    float: left;
    /* debug */
    background-color: blue;
}

/* chat */
#conversation {
    width: 70%;
    height: 100%;
    float: right;
    /* debug */
    background-color: palevioletred;
}

/* barra utente */
.utente {
    height: 70px;
    background-color: #eaeaea;
    border: 1px solid #e1e1e1;
}

.img_utente {
    height: 50px;
    margin: 10px;
    float: left;
}

.img_utente > img {
    height: 100%;
    border-radius: 50%;
}

.text_utente {
    float: left;
    margin-top: 20px;
}

#last_access {
    font-size: 13px;
    color: #979d9f;
}

.icon_utente {
    color: #b4b4b4;
    font-size: 20px;
    float: right;
    margin-top: 20px;
}

.icon_utente > i {
    margin-right: 10px;
}