/* general rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* sfondo */
#band {
    height: 15vh;
    width: 100%;
    background-color: #029588;
}
main {
    height: 100vh;
    background-color: #dcdbd2;
}

/* chat */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

#container {
    position: absolute;
    top: 30px;
    left: 10%;
    width: 80%;
    /* debug */
    height: 650px;
}

/* elenco laterale */
#chat {
    width: 20%;
    height: 100%;
    float: left;
    /* debug */
    background-color: blue;
}

/* chat */
#conversation {
    width: 80%;
    height: 100%;
    float: right;
    /* debug */
    background-color: palevioletred;
}