/* general rules */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    font-family: 'Roboto', sans-serif;
}

/* sfondo */
#band {
    height: 15vh;
    width: 100%;
    background-color: #029588;
}
main {
    height: 100vh;
    background-color: #dcdbd2;
}

/* chat */
.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

#container {
    position: absolute;
    top: 30px;
    left: 10%;
    width: 80%;
    /* debug */
    height: 650px;
}

/* elenco laterale */
#chat {
    width: 30%;
    height: 100%;
    float: left;
    background-color: white;
}

/* chat */
#conversation {
    width: 70%;
    height: 100%;
    float: right;
    background-image: url(../img/831a427866372688ee3530ec4a035172.jpg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* barra utente */
.utente {
    height: 70px;
    background-color: #eaeaea;
    border: 1px solid #e1e1e1;
}

.img_utente {
    height: 50px;
    margin: 10px;
    float: left;
}

.img_utente > img {
    height: 100%;
    border-radius: 50%;
}

.text_utente {
    float: left;
    margin-top: 20px;
}

.last_access {
    font-size: 13px;
    color: #979d9f;
}

.icon_utente {
    color: #b4b4b4;
    font-size: 20px;
    float: right;
    margin-top: 20px;
}

.icon_utente > i {
    margin-right: 10px;
}

/* notifiche */
#notification {
    background-color: #8edafc;
    width: 100%;
    height: 70px;
    display: flex;
    flex-direction: row;
    align-items: center;
}

#notification > i {
    color: #8edafc;
    background-color: white;
    font-size: 20px;
    border-radius: 50%;
    margin: 0 10px;
    padding: 10px;
}

.not_desk {
    text-decoration: underline;
}

/* input di scrittura */
#input_scritt {
    height: 50px;
    background-color: #f3eeea;
}

#input_scritt > i {
    font-size: 20px;
    color: #6b7477;
    margin: 15px;
}

#input_scritt > input {
    width: 745px;
    border: none;
}

/* conversazione */
.mess {
    padding: 20px;
    width: 250px;
    border-radius: 15px;
    margin: 10px 25px;
    background-color: white;
}

.mess_utente {
    background-color: #d5f9ba;
}

.mess_time {
    color: #afb3ac;
    font-size: 10px;
    float: right;
    margin-top: 4px;
}

.time_rc {
    margin-top: 20px;
}

.mess_text {
    font-size: 15px;
}

.posiz_utente {
    float: right;
}

.posiz_ric {
    float: left;
}

/* elenco chat */
#input_list {
    padding: 15px;
}

#input_list > i {
    margin-right: 10px;
    color: #babec0;
}

#input_list > input {
    width: 300px;
    border: none;
}

#person_chat {
    height: 70px;
    width: 100%;
    border: 1px solid #e9ebeb;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#person_chat > div > img {
    border-radius: 50%;
}

.list_time {
    color: #afb3ac;
    font-size: 10px;
    padding-right: 5px;
}

#person_chat > div {
    line-height: 70px;
}